/*
bg color = #f3f3f4
font color = #2c3d55
nav color = #6a687a
submit color = #536271
header color = #3e4c5e
important color = #e6b292
*/

/*
 Name: George Fabish 
 Date of Creation: 9/6/19 
 Date of Revision: N/A 
 */

body {
    margin: 0;
    width: 100%;
    background-color: #f3f3f4;
    color: #2c3d55;
    font-family: 'Lato', sans-serif;
}

header.jumbotron {
    background-color: #3e4c5e;
    color: #f3f3f4;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 4.5em;
    text-align: center;
    border-radius: 0;
}

div.jumbotron {
    background-color: #e6b292;
    color: #3e4c5e;
    width: 90%;
    margin: auto;
    text-align: center;
}

footer {
    background-color: #3e4c5e;
    color: #f3f3f4;
    font-family: 'Lexend Exa', sans-serif;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0 50px 0;
    position: relative;
    bottom: -30px;
    width: 100%;
}

nav {
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    background-color: #6a687a;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    top: 168px;
    left: 0;
}

.nav-link {
    color: #f3f3f4;
    padding-right: 15px;
}

nav a:active {
    text-decoration: none;
}

nav a:visited {
    color: #1f1d1d8f;
}

nav a:hover {
    font-weight: bold;
}

blockquote {
    width: 80%;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    margin: auto;
    background-color: #a3a3a35b;
}

p {
    text-align: center;
    padding: 0 40px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0;
}

.page-container {
    margin: auto;
}

.sticky {
    top: 0;
    position: fixed;
    width: 100%;
}

